*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(23, 23, 23);
    background-size: cover;
    width: 100%;
}
.header{
background:url('./img/bg.jpg');
background-size:cover ;
height: 745px;
width: 100%;
}
.img img{
  border-radius: 30px;
  object-fit: cover;
}
.header-inner{
    height: 745px;
    width: 90%;
    margin-left: auto;
  margin-right: 10%;
  display: flex;
  align-items: center;
justify-content: space-around;
gap: 100px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content{width: 50%;}
.content h1{
    color: white;
    font-size: 50px;
}

.content h1 span{
    color: gold;
    margin-left: 10px;
}
.content p{
    color: rgb(177, 177, 177);
    font-size: 20px;
}
.content button,.info-detail button,.contact button{
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 250px;
    border: 1px solid gold;
    border-radius: 30px;
    padding-right: 50px;
   
}

.content button i,.info-detail button i,
.contact button i{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   position: absolute;
   margin-left: 17%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    border-radius: 50px;
}
nav{
    position: fixed;
    margin-left: 105%;
    margin-top: -5%;
    display: block;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 300px;
    width: 100px;
}

nav ul li{
display: flex;
align-items: center;
justify-content: center;
list-style: none;
background: rgba(157, 157, 157, 0.3);
padding: 10px 12px;
border-radius: 50px;
transition: 0.3s;
}
nav ul li a{
text-decoration: none;
font-size: 30px;
}
.icon{
color: white;
}

.title{
position: absolute;
right:25px;
visibility: hidden; 
opacity: 0;
transition: 0.5s;
width: 100%;
height: 16%;
margin-top: -40px;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
background-color: gold;
color: white;
}
nav ul li:hover a .title{
visibility: visible;
opacity: 1;
width: 200%;
height: 16%;
z-index: -1;
}
nav ul li:hover{
background-color: gold;
color: white;
}
#active{
background-color: gold;
color: white;
} 
.about{
height: 1800px;
width: 90%;
margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about-cont{
height: 100px;
}
.skill-cont h1{
text-align: center;
}
.about-cont h1,.skill-cont h1{
color: white;
font-size: 40px;
font-weight: bolder;
}
.about-cont h1 span,.skill-cont h1 span{
color: gold;
}
.about-wrapper{
display: flex;
align-items: center;
justify-content: center;
gap: 150px;
}
.info h2{
color:gold;
margin-right: 60%;
}
.info{
height: 500px;
width:45%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.info-inner{
display: flex;
align-items: center;
justify-content: center;
gap: 100px;
font-size: 20px;
margin-left: 20%;
}
.info-detail{
color: white;

}
.info-detail span{
    color: rgb(171, 171, 171);
}
.info-set{
height: 400px;
width: 50%;
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
}
.info-set .set{
 border: 2px solid rgb(45, 45, 45);
 height: 150px;
 width: 230px;
}
.set h1{
    margin-left: 20px;
    color: gold;
    font-size: 45px;
}
.set p{
    color: white;
    font-size: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.set-inner{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.progress-ring {
transform: rotate(-90deg);
}

.progress-ring-circle,.progress-ring-circles,.progress-ring-circles1,
.progress-ring-circles2,.progress-ring-circles3,.progress-ring-circles4,.progress-ring-circles5,
.progress-ring-circles6 {
stroke-dasharray: 316;
stroke-dashoffset: 316;
transition: stroke-dashoffset 0.3s;

}
#per,#per1,#per2,#per3,#per4,
#per5,#per6,#per7{
position: absolute;
color: white;
margin-top:-1.5%;
margin-left: 3%;
display: flex;
align-items: center;
justify-content: center;
transform: translateY(-50px);
}
.skils{
height: 500px;
width: 90%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center
}
.skils p{
text-align: center;
color: white;
}
.skill-inner{
display: flex;
flex-direction: column;
gap: 50px;
}
.skill-wrap{
display: flex;
gap: 150px;
}
.skill-cont h1{
height: 100px;
}
.education{
height: 800px;
width: 90%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.edu-inner{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
}
.edu1{
display: flex;
gap: 70px;
}
.education-cont,.about-cont{
display: flex;
align-items: center;
justify-content: center;
height: 150px;
width: 90%;
color: white;
}
.pro-cont h1,.contact-cont h1{
color: white;
font-size: 50px;
}
.education-cont h1 span,
.pro-cont h1 span,.contact-cont h1 span{
color: gold;
}
.education-wrap{
color: white;
display: flex;
gap: 10px;
}
.education-wrap h1{
font-size: 20px;
}
.education-wrap h1 span{
font-size: 25px;
color: gold;
}
.para{
padding-top: 10px;
}
.edu1:nth-child(2),.edu1:nth-child(3){
gap: 100px;
}
.edu-set{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.edu-icon{
background: rgb(117, 117, 117,0.5);
font-size: 23px;
padding: 8px;
border-radius: 50px;
color: gold;
}
.vertical{
background-color: rgb(122, 122, 122);
height: 100px;
width: 2px;
}
.project,.contact{
height: 900px;
width: 90%;
margin-left: auto;
margin-right: auto;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pro-wrap{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 30px;
margin-right: 3%;
}
.pro1{
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
}
.pro-cont{
display: flex;
align-items: center;
justify-content: center;
height: 100px;

}
.shade{
position: absolute;
font-size: 120px;
color: rgba(128, 128, 128,0.3);
z-index: -1;
}
.pro1 img{
border-radius: 20px;
}
.pro1 span{
height: 200px;
width: 350px;
position: relative;
overflow: hidden;
}
.pro1 span::before{
content: '';
position: absolute;
background-color: gold;
width: 0%;
height: 100%;
left: 0;
top: 0;
border-radius: 20px;
transition: all 0.4s ease-in-out;
}
.pro1 span:hover::before{
width: 100%;
}
.btn1{
width: 120px;
height: 35px;
border-radius: 20px;
font-size: 20px;
border: none;
outline: none;
background: white;
color: gold;
position: absolute;
transform: translateY(-50%) scale(0);
top: 50%;
left:0;
opacity: 0;
box-shadow: 0 0 10px black;
transition:  all 0.4s ease-in-out ;
}
.pro1 span:hover .btn1{
transform: translateY(-50%) scale(1);
left: 35%;
opacity: 1;
}
.contact-wrapper,.contact-cont{
display: flex;
align-items: center;
justify-content: center;
}
.contact-wrapper{
gap: 20px;
}
.pro-cont {
height: 200px;
}
.contact-cont{
height: 60px;
}
.mail,.phone{
display: flex;
}
.detail{
height: 500px;
width: 30%;
display: flex;
flex-direction: column;
justify-content: center;
gap: 30px;
}
.detail ul,.details-inner{
display: flex;
align-items: center;
gap: 20px;
}
.details-inner{
gap: 10px;
}
.detail ul li{
list-style: none;
font-size: 25px;
color: white;
padding: 12px;
background: rgb(91, 91, 91,0.6);
border-radius: 50%;
display: grid;
place-items: center;
}
.detail ul li:hover{
background-color: gold;
}
.detail h2{
color: white;
}
.mail h3,.phone h3{
color: rgb(177, 176, 176);
} 

.detail p{
color: white;
}
.details{
height: 500px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
}
.contact{
height: 700px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact-cont{
height: 150px;
width: 100%;

}
.detail h2{font-size: 30px;}
.detail p{font-size: 20px;}
:is(.mail,.phone) span i{
font-size: 25px;
padding: 8px;
color: black;
background: gold;
border-radius: 10px;
}
:is(.mail,.phone) span p{ 
color: white;
}
.mail,.phone{
display: flex;
gap: 20px;
}
.details-inner input{
height: 30px;
width: 250px;
background:rgba(143, 143, 143, 0.6) ;
border-radius: 20px;
padding: 5px 15px;
border: none;
outline: none;
}
textarea{
border-radius: 20px;
padding: 5px 15px;
background:rgba(143, 143, 143, 0.6) ;
border:1px solid gold ;
outline: none;
}

textarea::placeholder{
color:white;
font-size: 16px;
}
::placeholder{
color:white;
}
.details button ,:is(.content,.info-detail) button span{
color: white;
position: relative;
}
/* .details button::before{
position: absolute;
content: '';
width: 100%;
height:100%;
background-color: aqua;
} */
:is(.info-detail,.content) button{
border-radius: 30px;
position: relative;
overflow: hidden;
font-weight: bold;
}
:is(.info-detail,.content) button::before{
height: 50px;
width: 250px;
position: absolute;
border-radius: 30px;
content: '';
width: 0%;
height:100%;
background-color: gold;
left: 0;
transition: all 0.4s ease-in-out;
}
.details span{
margin-right:70% ;
border-radius: 23px;
position: relative;
overflow: hidden;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.details span::before{
position: absolute;
content: '';
width: 0%;
height:100%;
background-color: gold;
left: 0;
transition: all 0.4s ease-in-out;
}
.details span:hover::before,:is(.info-detail,.content) button:hover::before{
width: 100%;
}

.details span button i,:is(.info-detail,.content) button i{
margin-left: 101%;
border-radius: 23px;
}
.res-nav{
display: none;
}
@media (max-width:1400px) {
.about-wrapper{
    flex-direction: column;
    gap: 5px;
}
.about{
    height: 3300px;
}
.info-inner{
    width: 700px;
    font-size: 25px;
    margin-right: 100px;
    gap: 10px;
    
}
.info{
    /* background-color: aqua; */
    width: 100%;
}
.contact-wrapper{
    flex-direction: column;
}
.pro1 span img,.pro1 span {
    height: 150px;
    width: 200px;
}
.pro1,.pro-wrap{
    gap: 30px;
}
#per,#per1,#per2,#per3,#per4,
#per5,#per6,#per7{
margin-top: -20px;
margin-left: 40px;
}
/* .pro-cont{
margin-top: 23%;
} */
.skill-wrap{
    gap: 70px;
}
.detail{
    width: 70%;
}
.pro1 span:hover .btn1{
 left: 35px;
}
.details-inner input{
    width: 200px;
}
textarea{
    width: 700px;
}
.project{
    margin-top: -50%;
}
}
@media (max-width:900px) {
.header-inner{
    height: 1200px;
    flex-direction: column;
    gap: 10px;
}
.info-inner{
    gap: 20px;
}
.info-inner{
    width: 500px;
    font-size: 20px;
    padding-right: 50px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   width: 700px;
}
}
@media (max-width:786px) {
.res-nav{
  display: block;
}  
.logo{
    background-color: goldenrod;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.res-nav a{
  text-decoration: none;
}
.res-nav li{
    padding-top: 50px;
}
.logo i{
    font-size: 25px;
}
 .ul{
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: gold;
    font-size: 18px;
    font-weight: bold;
    color: black;
    list-style: none;
    padding-left: 50%;
    
}
.nav{
    display: none;
}
nav{
    display: none;
}
.header{
    width: 100%;
}
.header-inner{
    height: 1300px;
    flex-direction: column;
    gap: 10px;
}
.content{
    width: 350px;
    margin-left: 30px;
}
.content h1{
    font-size: 30px;
}
.info-inner{
    flex-direction: column;
    width: 300px;

}
.skill-wrap{
    gap: 1px;
    width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.about{
    margin-top: 30%;
    height: 4800px;
}
.about-wrapper{
    height: 1500px;
    width: 350px;
    /* background-color: aquamarine; */
}
.edu1{
    flex-direction: column;
}
.education{
    height: 1300px;
   
}
.edu-inner{
    gap: 5px;
}
.project{
    margin-top: -50%;
    height: 180vh;
} 
.pro1{
  
    flex-direction: column;
   
}
.pro1 span img,.pro1 span {
    height: 150px;
    width: 200px;
}
.pro1 span:nth-child(3){
    display: none;
} 
.details-inner{
    display: grid;
    grid-template-columns: auto;
}
textarea{
    width: 300px;
}
.shade{
    font-size: 50px;
}
.set-inner,.info-set{
    gap: 10px;
}
.details-inner input{
    height: 30px;
    width: 300px;
}
.details{
    width: 350px;
}
.info-set{
    height: 800px;
    flex-direction: column;
}
.details span{
    margin-left: 50%;
}

.skill-wrap{
    display: grid;
    grid-template-columns: auto auto;
}
.skill-inner{
    gap: 0px;
}
.skils{
    height: 1000px;
}
.actives{
    display: block;
}
.skill-inner,.skill-wrap{
    width: 350px;
}
.details{
    width: 380px;
}

.info-detail:nth-child(2){
    margin-left: 70px;
}
.img{
  
    width: 90%;
}
.img img{
    width: 330px;
}
.pro-cont h1{
    font-size: 38px;
}
.details{
    width: 350px;
}
}